# Compiled #
*.class
target
output

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE specific #
.classpath
.project
.metadata
.settings
.DS_Store
.cache
.factorypath
